sudo: false
language: scala
scala:
  - 2.11.12
  - 2.12.7

script:
- curl -L -o ~/bin/mill https://github.com/lihaoyi/mill/releases/download/0.3.6/0.3.6-92-68505a && chmod +x ~/bin/mill
- mill __[$TRAVIS_SCALA_VERSION].test
